@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
 * {
 	margin: 0;
 	padding: 0;
 	border: 0;

}
body {
	background: #F5F5F5;
	color: #67727A;
	font-family: 'Alegreya', sans-serif;
	margin: 0;
}
h2 {
	font-size: 250%;
	font-weight: 700;
	text-align: center;
	padding-top: 2%;
	color: #F5F5F5;
}
h3 {
	font-size: 175%;
	line-height: 155%;
	padding: 5% 0;
	font-weight: 400%;
}
p {
	font-family: 'Alegreya Sans', sans-serif;
	color: #F5F5F5;
	font-size: 155%;
	line-height: 150%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
}
.ul-resp {
	font-size: 155%;
	line-height: 150%;
	padding: 3%;
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}
header{
	background-color: #6991AC;
	width: 100%;
	height: 86px;
}
#header-inner{
	max-width: 1200px;
	margin: 0 auto;
}
#logo {
	margin: 20px;
	float: left;
	width: 200px;
	height: 60px;
	background: url(img/logo2.png) no-repeat center;
}
/*-- start nav --*/
nav {
	float: right;
	padding: 25px 20px 0 0;

}
#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(img/nav.png) center;
}
a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}
nav ul {
	list-style: none;
}
nav ul li {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 150%;
	display: inline-block;
	float: left;
	padding: 10px;
}
nav ul li a {
	color: #F5F5F5;
	text-decoration: none;
}
nav ul li a:hover {
	color: #C3D7DF;
}
.current {
	color: #C3D7DF;
}
/*--end nav--*/
.banner {
	width: 100%;
	background-color: #6991AC;
}
.banner-inner {
	max-width: 1100px;
	margin: 0 auto;
}
.one-half {
	width: 50%;
	float: left;
	text-align: center;
}
.one-half img {
/*	position: relative; */
	width: 200px;
	height: 200px;
	background-repeat: no-repeat;

}
#bachelor {
	background-color: #BEB9AD;
}
#high-school {
	background-color: #AADCD2;
}
.inner-wrapper {
	float: left;
	width: 100%;
	background-color: #C3D7DF;
}
article {
	float: left;
	margin: 0 auto;
	width: 50%;
	height: auto;

}
#mining-rig {
	background-color: #C3D7DF;
}
aside {
	float: right;
	margin: 0px auto;
	width: 50%;
	height: auto;
}
aside ul {
	position: relative;
	left: 12px;
}
aside h3 {
	position: relative;
	left: 6px;
}
#mining-rig2 {
	background-color: #A2B2C1;
}
#bsc-thesis {
	background-color: #C0C0C0;
}
.one-third {
	width: 33.333333333%;
	float: left;
	text-align: center;
	background-color: #A2B2C1;
}
.inner-wrapper-3 {
	float: letf;
	width: 100%;
	background-color: #A2B2C1;
}
#other {
	background-color: #CDC9C9;
}
#backend {
	background-color: #6495ED;
}
#frontend {
	background-color: #7B68EE;
}
.one-third li {
	height: 420px;
	list-style-type: none;
	padding-right: 5.3333333%;
}
.one-third li:nth-child(even) {
	margin-bottom: 5em;
}
footer {
	background-color: #6991AC;
	width: 100%;
}
.social {
	list-style-type: none;
	text-align: center;
}
.social li {
	display: inline;
}
.social i {
	font-size: 460%;
	margin: 1%;
	padding: 5% 5% 5% 4%;
	color: #C3D7DF;
}
.social i:hover {
	color: #F5F5F5;
}
footer.second {
	border-top: 1px solid #AADCD2;
	background-color: #544B59;
	max-height: 50px;
	margin: 0;
}
footer.second p {
	padding: 5px 0 9px 0;
	text-align: center;
}
/*-----------------*/
@media screen and (max-width: 768px) {
	h2 {
		font-size: 150%;
	}
	h3 {
		font-size: 125%;
	}
	p {
		font-size: 120%;
	}
	header {
		position: absolute;
	}
	#logo {
		margin: 15px 0 20px -25px;
	}
	nav ul, nav:active ul {
		display: none;
		z-index: 1000;
	}
	nav:hover ul {
		display: block;
	}
}




/*---------------*/
progress[value] {
	appearance: none;
	border: none;
	width: 100%;
	height: 20px;
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
	color: royalblue;
	position: relative;
	margin: 0 0 1.5em; 
}

progress[value]::-webkit-progress-bar {
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
	position: relative;
	
	background-size: 35px 20px, 100% 100%, 100% 100%;
	border-radius:3px;
	animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 100% { background-position: -100px 0; } }

progress[value]::-webkit-progress-value:after {
	content: '';
	position: absolute;
	
	width:5px; height:5px;
	top:7px; right:7px;
	
	background-color: white;
	border-radius: 100%;
}

progress[value]::-moz-progress-bar {
	background-image:
	-moz-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -moz-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #f44);
	
	background-size: 35px 20px, 100% 100%, 100% 100%;
	border-radius:3px;
	
}

.progress-bar {
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
	width: 100%; height:20px;
}

.progress-bar span {
	background-color: royalblue;
	border-radius: 3px;
	
	display: block;
	text-indent: -9999px;
}

p[data-value] { 
  
  position: relative; 
}

p[data-value]:after {
	content: attr(data-value) '%';
	position: absolute; right:0;
}





.html5::-webkit-progress-value,
.python::-webkit-progress-value  {
	/* Gradient background with Stripes */
	background-image:
	-webkit-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -webkit-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #f44);
}

.css3::-webkit-progress-value,
.php::-webkit-progress-value 
{
	/* Gradient background with Stripes */
	background-image:
	-webkit-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -webkit-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #ff0);
}

.jquery::-webkit-progress-value,
.node-js::-webkit-progress-value 
{
	/* Gradient background with Stripes */
	background-image:
	-webkit-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -webkit-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #690);
}

/* Similarly, for Mozillaa. Unfortunately combining the styles for different browsers will break every other browser. Hence, we need a separate block. */

.html5::-moz-progress-bar,
.php::-moz-progress-bar {
	/* Gradient background with Stripes */
	background-image:
	-moz-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -moz-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #f44);
}

.css3::-moz-progress-bar,
.php::-moz-progress-bar {
{
	/* Gradient background with Stripes */
	background-image:
	-moz-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -moz-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #ff0);
}

.jquery::-moz-progress-bar,
.node-js::-moz-progress-bar {
	/* Gradient background with Stripes */
	background-image:
	-moz-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -moz-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #690);
}